<!-- Header -->
<%- include('partials/_header') %>

  <body>

    <!-- Navigation -->
    <%- include('partials/_navigation') %>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>
                  <%= post.title %>
                </h1>
                <h2 class="subheading"><!-- Subheading --></h2>
                <span class="meta">Posted by
                  <a href="#">Start Bootstrap</a>
                  on <%= post.createdDate %></span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <p>
                <%= post.detail %>
              </p>
            </div>
            <div class="col-lg-4 col-md-2 mx-auto">
              <div class="d-flex flex-column">
                <a class="btn btn-primary my-2" href="/post/<%= post.id %>/edit">
                  <i class="fas fa-pen mr-1"></i> Edit Post
                </a>
                <a class="btn btn-danger my-2" href="/post/<%= post.id %>?_method=DELETE"
                  onclick="return confirm('Are you sure?')">
                  <i class="fas fa-trash mr-1"></i> Delete Post
                </a>
              </div>
            </div>
          </div>
        </div>
      </article>

      <hr>

      <!-- Footer -->
      <%- include('partials/_footer') %>


  </body>

  </html>